/* line 1, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
body {
  background: #1C1B1A;
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  cursor: url("../assets/xcursor.png"), auto; }

/* line 10, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
.background-x {
  position: fixed;
  top: -100px;
  left: -200px;
  opacity: 0.05;
  z-index: -1000;
  width: 100%; }
  @media (max-width: 800px) {
    /* line 10, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
    .background-x {
      left: -100px;
      top: -50px; } }

/* line 24, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
img {
  width: 100%; }

/* line 28, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
.row {
  margin: 120px auto; }

/* line 32, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
section {
  margin: 240px auto; }

/* line 36, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
.center {
  text-align: center; }

/* line 40, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
.header {
  margin: 300px auto; }
  @media (max-width: 800px) {
    /* line 40, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
    .header {
      margin: 120px auto; } }
  /* line 47, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
  .header img {
    width: 100%; }
    @media (max-width: 800px) {
      /* line 47, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
      .header img {
        width: 70%; } }

/* line 56, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; }

/* line 66, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
h2 {
  font-size: 0.75rem; }

/* line 70, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
h3 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 300; }

/* line 76, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
.linklist {
  list-style: none;
  margin: 0;
  padding: 0; }
  /* line 81, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
  .linklist li {
    padding: 0;
    margin: 40px auto;
    vertical-align: middle; }
    /* line 86, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
    .linklist li a {
      color: white;
      text-decoration: none; }
      /* line 90, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
      .linklist li a img {
        padding-right: 16px;
        height: 30px;
        width: auto;
        vertical-align: middle; }
      /* line 97, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
      .linklist li a span {
        margin-left: 16px;
        transition: all 0.25s;
        opacity: 0.5; }
      /* line 104, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
      .linklist li a:hover span {
        margin-left: 30px;
        opacity: 1; }

/* line 113, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
.section-head {
  position: relative;
  border: 1px solid white; }
  /* line 117, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
  .section-head:after {
    content: '';
    display: block;
    width: 80%;
    padding-bottom: 100%; }
  /* line 124, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
  .section-head h2 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-100%); }
  @media (max-width: 800px) {
    /* line 113, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
    .section-head {
      max-width: 160px;
      margin-bottom: 80px; } }

/* line 138, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
.stat {
  margin: 0;
  font-family: 'Karla';
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.75rem;
  letter-spacing: -2px; }
  @media (max-width: 800px) {
    /* line 138, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
    .stat {
      font-size: 2.25rem;
      line-height: 2.75rem;
      letter-spacing: -1px; } }

/* line 153, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
.chart {
  display: block;
  width: 100%;
  margin: 80px auto; }
  /* line 158, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
  .chart img {
    width: 100%; }

/* line 163, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
.skillset {
  list-style: none;
  margin: 80px auto;
  padding: 0;
  display: flex;
  justify-content: space-around; }
  @media (max-width: 400px) {
    /* line 163, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
    .skillset {
      flex-direction: column;
      margin: 40px auto; } }
  /* line 175, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
  .skillset li {
    display: inline;
    list-style: none;
    flex-basis: 30%;
    margin: 0; }
    /* line 181, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
    .skillset li .skillicon {
      display: block;
      font-size: 4rem;
      line-height: 6rem; }
    @media (max-width: 400px) {
      /* line 175, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
      .skillset li {
        margin: 40px auto; } }

/* line 193, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
.layoutgrid {
  margin: 80px auto;
  width: 100%; }
  /* line 197, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
  .layoutgrid .layoutgrid-row {
    padding: 6% 10%;
    border: 1px solid #444;
    text-align: left;
    position: relative;
    margin: 10px auto; }
    /* line 204, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
    .layoutgrid .layoutgrid-row:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      border-left: 1px solid #444;
      width: 25%;
      height: 100%; }
    /* line 214, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
    .layoutgrid .layoutgrid-row span {
      right: 0;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 9%; }

/* line 225, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
.adobelogos {
  list-style: none;
  margin: 40px 0;
  padding: 0;
  display: flex;
  justify-content: space-between; }
  /* line 232, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
  .adobelogos li {
    display: inline-block;
    width: 25%; }

/* line 238, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
.cards {
  display: flex;
  flex-wrap: wrap; }
  /* line 242, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
  .cards .card {
    align-self: stretch;
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid #444; }
    /* line 248, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
    .cards .card h4 {
      margin-top: 0;
      margin-bottom: 0; }
    /* line 253, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
    .cards .card p {
      margin-bottom: 0;
      font-size: 0.875rem; }

/* line 260, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
.bigcard {
  padding: 30px;
  border: 1px solid #444; }
  /* line 264, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
  .bigcard a {
    color: #fff; }
  /* line 268, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
  .bigcard h4 {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1.625rem;
    line-height: 2rem; }
  /* line 275, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
  .bigcard p {
    margin-bottom: 0;
    font-size: 0.875rem; }
  /* line 280, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
  .bigcard .content {
    padding: 10px 10px 40px 10px; }

/* line 285, /Users/gordon/OneDrive - Colle McVoy/0_CLIENTS/10TD/Digital Survey 2019/10tddigitalsurvey/scss/styles.scss */
.smalltype {
  margin-top: 0;
  font-size: 0.75rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }

/*# sourceMappingURL=styles.css.map */
