body {
    background: #1C1B1A;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    cursor: url('../assets/xcursor.png'), auto;
}

.background-x {
    position: fixed;
    top: -100px;
    left: -200px;
    opacity: 0.05;
    z-index: -1000;
    width:100%;
    @media (max-width:800px) {
        left: -100px;
        top: - 50px;
    }
}

img {
    width: 100%;
}

.row {
    margin: 120px auto;
}

section {
    margin: 240px auto;
}

.center {
    text-align: center;
}

.header {
    margin: 300px auto;
    @media (max-width:800px) {
        margin: 120px auto;
    }
    img {
        width:100%;
        @media (max-width:800px) {
            width:70%;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h2 {
    font-size: 0.75rem;
}

h3 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 300;
}

.linklist {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        padding: 0;
        margin: 40px auto;
        vertical-align: middle;

        a {
            color: white;
            text-decoration: none;

            img {
                padding-right: 16px;
                height: 30px;
                width: auto;
                vertical-align: middle;
            }

            span {
                margin-left: 16px;
                transition: all 0.25s;
                opacity: 0.5
            }

            &:hover {
                span {
                    margin-left: 30px;
                    opacity: 1;
                }
            }
        }
    }
}

.section-head {
    position: relative;
    border: 1px solid white;

    &:after {
        content: '';
        display: block;
        width: 80%;
        padding-bottom: 100%;
    }

    h2 {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        transform: translateY(-100%);
    }

    @media (max-width:800px) {
        max-width: 160px;
        margin-bottom: 80px;
    }
}

.stat {
    margin: 0;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -2px;
    @media (max-width: 800px) {
        font-size: 2.25rem;
        line-height:2.75rem;
        letter-spacing: -1px;
    }
}

.chart {
    display: block;
    width: 100%;
    margin: 80px auto;

    img {
        width: 100%;
    }
}

.skillset {
    list-style: none;
    margin: 80px auto;
    padding: 0;
    display: flex;
    justify-content: space-around;

    @media (max-width:400px) {
        flex-direction: column;
        margin: 40px auto;
    }

    li {
        display: inline;
        list-style: none;
        flex-basis: 30%;
        margin: 0;

        .skillicon {
            display: block;
            font-size: 4rem;
            line-height: 6rem;
        }

        @media (max-width:400px) {
            margin: 40px auto;
        }
    }
}

.layoutgrid {
    margin: 80px auto;
    width: 100%;

    .layoutgrid-row {
        padding: 6% 10%;
        border: 1px solid #444;
        text-align: left;
        position: relative;
        margin: 10px auto;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            border-left: 1px solid #444;
            width: 25%;
            height: 100%;
        }

        span {
            right: 0;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 9%;
        }
    }
}

.adobelogos {
    list-style: none;
    margin: 40px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
        display: inline-block;
        width: 25%;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;

    .card {
        align-self: stretch;
        padding: 30px;
        margin-bottom: 30px;
        border: 1px solid #444;

        h4 {
            margin-top: 0;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
            font-size: 0.875rem;
        }
    }
}
